<table>
  <tr>
    <th>name</th>
    <th>description</th>
  </tr>
  <tr *ngFor="let product of (productList$ | async)">
    <td>{{product.name}}</td>
    <td>{{product.description}}</td>
  </tr>
</table>
